<h1 class="text-center">Kalyx</h1>

<div class="container">
  <div class="input-group col-md-12">
      <input type="text" class="form-control input-lg" placeholder="Search for..." />
      <span class="input-group-btn">
          <button class="btn btn-success" type="button">
              <i class="glyphicon glyphicon-search"></i>
          </button>
      </span>
  </div>
</div>

<div class="container d-flex justify-content-around">
  <div class="list-group container col-md-4">
    <a href="#" class="list-group-item list-group-item-action active text-center">
      Cities
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Los Angeles
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      San Francisco
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      San Diego
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Sacramento
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      San Jose
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Berkeley
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Oakland
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Beverly Hills
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Santa Barbara
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Santa Monica
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Long Beach
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Anaheim
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Palm Springs
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Pasadena
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Fresno
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Irvine
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Bakersfield
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Riverside
      <span class="badge badge-primary badge-pill">14</span>
    </a>
  </div>

  <div class="list-group container col-md-4">
    <a href="#" class="list-group-item list-group-item-action active text-center">
      Strains
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Blue Dream
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Sour Diesel
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Girl Scout Cookies
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      OG Kush
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      White Widow
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Gorilla Glue #4
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Bubba Kush
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Pineapple Express
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Trainwreck
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Northern Lights
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      AK-47
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Strawberry Cough
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Chemdawg
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Super Lemon Haze
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Cherry Pie
      <span class="badge badge-primary badge-pill">14</span>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Granddaddy Purple
      <span class="badge badge-primary badge-pill">14</span>
    </a>
  </div>

  <div class="list-group container col-md-4">
    <a href="#" class="list-group-item list-group-item-action active text-center">
      Flower
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Indica
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Sativa
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Hybrid
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Clones
    </a>
    <a href="#" class="list-group-item list-group-item-action active text-center">
      Concentrates
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Shatter
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Crumble
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Sauce
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Resin
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Distillate
    </a>
    <a href="#" class="list-group-item list-group-item-action active text-center">
      Vaporizers
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Indica
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Sativa
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Hybrid
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      CBD
    </a>
    <a href="#" class="list-group-item list-group-item-action active text-center">
      Edibles
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Chocolate
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Gummies
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Baked Goods
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Beverages
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      Candies
    </a>

  </div>
</div>
