<h1 class="text-center head-spacer">Welcome <%= @member.email %></h1>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Status</th>
        <th scope="col">Manage</th>
        <th scope="col">Listing Title</th>
        <th scope="col">Listed Date</th>
        <th scope="col">Listing ID</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-success">
        <th scope="row">Active</th>
        <td>
          <a href="#">Display</a>
          <a href="#">Edit</a>
          <a href="#">Delete</a>
        </td>
        <td>Posting Title 1</td>
        <td>12/30/2017</td>
        <td>239502</td>
      </tr>
      <tr class="table-success">
        <th scope="row">Active</th>
        <td>
          <a href="#">Display</a>
          <a href="#">Edit</a>
          <a href="#">Delete</a>
        </td>
        <td>Posting Title 1</td>
        <td>12/30/2017</td>
        <td>239502</td>
      </tr>
      <tr class="table-success">
        <th scope="row">Active</th>
        <td>
          <a href="#">Display</a>
          <a href="#">Edit</a>
          <a href="#">Delete</a>
        </td>
        <td>Posting Title 1</td>
        <td>12/30/2017</td>
        <td>239502</td>
      </tr>
      <tr class="table-success">
        <th scope="row">Active</th>
        <td>
          <a href="#">Display</a>
          <a href="#">Edit</a>
          <a href="#">Delete</a>
        </td>
        <td>Posting Title 1</td>
        <td>12/30/2017</td>
        <td>239502</td>
      </tr>
      <tr class="table-danger">
        <th scope="row">Inactive</th>
        <td>
          <a href="#">Display</a>
          <a href="#">Edit</a>
          <a href="#">Delete</a>
        </td>
        <td>Posting Title 1</td>
        <td>12/30/2017</td>
        <td>239502</td>
      </tr>
      <tr class="table-success">
        <th scope="row">Active</th>
        <td>
          <a href="#">Display</a>
          <a href="#">Edit</a>
          <a href="#">Delete</a>
        </td>
        <td>Posting Title 1</td>
        <td>12/30/2017</td>
        <td>239502</td>
      </tr>
      <tr class="table-success">
        <th scope="row">Active</th>
        <td>
          <a href="#">Display</a>
          <a href="#">Edit</a>
          <a href="#">Delete</a>
        </td>
        <td>Posting Title 1</td>
        <td>12/30/2017</td>
        <td>239502</td>
      </tr>
      <tr class="table-danger">
        <th scope="row">Inactive</th>
        <td>
          <a href="#">Display</a>
          <a href="#">Edit</a>
          <a href="#">Delete</a>
        </td>
        <td>Posting Title 1</td>
        <td>12/30/2017</td>
        <td>239502</td>
      </tr>
      <tr class="table-danger">
        <th scope="row">Inactive</th>
        <td>
          <a href="#">Display</a>
          <a href="#">Edit</a>
          <a href="#">Delete</a>
        </td>
        <td>Posting Title 1</td>
        <td>12/30/2017</td>
        <td>239502</td>
      </tr>
    </tbody>
  </table>
</div>

<%= render 'sidebar' %>
